aiofiles==25.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
bcrypt==5.0.0
certifi==2020.6.20
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
dbus-python==1.2.16
distro-info==1.0+deb11u1
exceptiongroup==1.3.1
fastapi==0.127.0
h11==0.12.0
httpcore==0.12.3
httpx==0.16.1
idna==2.10
iotop==0.6
jinja2==3.1.6
markupsafe==3.0.3
nala==0.11.0
netifaces==0.10.9
OPi.GPIO==0.5.2
passlib==1.7.4
pexpect==4.8.0
psutil==7.2.1
pycurl==7.43.0.6
pydantic==2.12.5
pydantic-core==2.41.5
Pygments==2.7.1
PyGObject==3.38.0
python-apt==2.2.1.1
python-multipart==0.0.20
PyYAML==5.3.1
rfc3986==1.4.0
rich==8.0.0
sniffio==1.1.0
starlette==0.49.3
tomli @ file:///build/python-tomli-KRt5Cs/python-tomli-1.2.2
typer @ file:///build/typer-0.4.0
typing-extensions==4.15.0
typing-inspection==0.4.2
unattended-upgrades==0.1
uvicorn==0.39.0
websockets==15.0.1
